/* Font Face */
@font-face {
  font-family: "lemonmilk";
  src: local("lemonmilk"),
    url("./assets/fonts/lemonmilk/LEMONMILK-Regular.otf");
}

/* Font Face */
@font-face {
  font-family: "pioggia";
  src: local("pioggia"),
    url("./assets/fonts/pioggia/Pioggia.otf");
}

/* App container */
.App {
  font-family: "pioggia"; /* Apply the custom font */
  font-size: 1rem;
  line-height: 1.5;
  margin-inline: auto;
}

/* Navbar container */
.navbar {
  overflow: hidden; /* Clear floats */
  position: fixed;
  font-family: lemonmilk;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #FFFF;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #E4ECFC;
}

/* Active/current link */
.navbar a.active {
  background-color: #abc4e7; /* Active link background color */
  color: white; /* Active link text color */
}

.Title {
  font-family: "lemonmilk";
  text-align: left; /* Left-align the Title container */
  padding: 15% 10% 20%; /* Proportionally scaled padding */
  overflow: hidden;
}

.Title h1 {
  font-size: 6em; /* Adjust the font size of the main title */
}

/* Strike-through line */
.Title h1 span {
  text-decoration: line-through rgba(171, 196, 231, 0.75) 0.5em; /* Strike-through with transparent color */
}

.Title h2 {
  font-size: 3em; /* Adjust the font size of the subtitle */
}

.profile-img {
  float: right;
  display: block;
  right: 20%; /* Align the image to the right side */
  border-radius: 50%; /* Make the image circular */
  width: 20em; /* Adjust the width of the image */
  height: 20em; /* Adjust the height of the image */
}

.About {
  text-align: left; /* Left-align the Title container */
  padding: 5% 10%; /* Proportionally scaled padding */
  overflow: hidden;
  font-size: 1em;
  background-color: #F8D026;
}

.About h1 {
  font-family: "lemonmilk";
  font-size: 2em;
}

.about-img {
  float: left;
  display: block;
  left: 20%;
  border-radius: 50%; /* Make the image circular */
  width: 15em; /* Adjust the width of the image */
  height: 15em; /* Adjust the height of the image */
  padding: 0% 5%;
}

.multiColorBackground {
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
}

.Projects{
  display: flex;
  justify-content: space-around; /* Distribute space around the items */
  align-items: center; /* Align items vertically in the center */
  padding-block: 5rem;
  gap: 1rem;
}

.Project{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  background-color: #E3E3E3;
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.1); /* Subtle shadow for card effect */
  width: auto;
  height: auto;
  margin: 0;
}
.Project h1{
  margin:0;
}
.Project-Pic {
  margin: 0.5em;
  height: auto;
  width: auto;
  border: 0.2em solid #000;
}
/* Responsive Design */
@media (max-width: 768px) {
  .Projects {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  .Project {
    max-width: 100%; /* Make sure the cards take up the full width on small screens */
  }
}

@media (max-width: 480px) {
  .Project {
    padding: 1rem; /* Reduce padding on smaller screens */
  }

  .Project-Pic {
    width: 80%; /* Adjust the image width on smaller screens */
  }
}
.Footer{
  background-color: #E3E3E3;
  font-family: "lemonmilk";
  margin:0;
  padding:0;
  overflow: hidden;
}